In [196]:
import pandas as pd
import numpy as np

# Section 1: Exploratory Data Analysis

### All questions in this section pertain to two of the datasets listed above in Exam Materials 

### (person_level_data.csv and household_level_data.csv), with the data_dictionary.txt file providing the metadata needed to understand the contents and formats of each .csv. 


### Please note that the data is still in its raw, original form and will require some cleaning and/or standardization.

Please write your answers in this document, and include your code as part1_code.txt.
Questions


Please calculate the following summary statistics using the data sets listed above:


1.	Calculate the average weekly hours worked among men and women.
2.	List the three households (i.e. household_ids) with the highest per person incomes. 
3.	List the three individuals (i.e. person_ids) with the highest personal income, and the dollar amounts of their personal incomes.
4.	Calculate the 80th percentile of age among people in each of the five marital categories.

In [197]:
person = pd.read_csv('person_level_data.csv')
household = pd.read_csv('household_level_data.csv')

person.head()

,person_id,age,citizen_status,nativity_status,weekly_hours_worked,marital_status,school_status,sex,when_last_worked,worked_last_week,language,race_native_american,race_asian,race_black,race_native_hawaiian,race_pacific_islander,race_white,race_other,uninsured,household_id,hh_income_pct
0,10,62,citizen_birth,native_born,55,married,not_student,FEMALE,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.389078
1,11,65,citizen_birth,native_born,40,married,not_student,M,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.610922
2,15,70,citizen_birth,native_born,0,married,not_student,MALE,over_five_years_ago,did_not_work,English,0,0,0,0,0,1,0,0,9,0.735381
3,16,70,citizen_birth,native_born,20,married,not_student,F,in_last_year,did_not_work,English,0,0,0,0,0,1,0,0,9,0.264619
4,43,75,citizen_birth,native_born,0,married,not_student,FEMALE,over_five_years_ago,not_reported,English,0,0,0,0,0,1,0,0,22,0.250230

In [198]:
# person.weekly_hours_worked.value_counts()

In [199]:
person.sex.value_counts()

FEMALE    7223
MALE      6735
F         2056
M         1930
female    1017
male       936
Name: sex, dtype: int64

In [200]:
# Combining the different values for male and female
person.sex = person.sex.replace({'FEMALE': 'F'})
person.sex = person.sex.replace({'female': 'F'})
person.sex = person.sex.replace({'MALE': 'M'})
person.sex = person.sex.replace({'male': 'M'})
person.sex.value_counts()

F    10296
M     9601
Name: sex, dtype: int64

In [201]:
person.head()

,person_id,age,citizen_status,nativity_status,weekly_hours_worked,marital_status,school_status,sex,when_last_worked,worked_last_week,language,race_native_american,race_asian,race_black,race_native_hawaiian,race_pacific_islander,race_white,race_other,uninsured,household_id,hh_income_pct
0,10,62,citizen_birth,native_born,55,married,not_student,F,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.389078
1,11,65,citizen_birth,native_born,40,married,not_student,M,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.610922
2,15,70,citizen_birth,native_born,0,married,not_student,M,over_five_years_ago,did_not_work,English,0,0,0,0,0,1,0,0,9,0.735381
3,16,70,citizen_birth,native_born,20,married,not_student,F,in_last_year,did_not_work,English,0,0,0,0,0,1,0,0,9,0.264619
4,43,75,citizen_birth,native_born,0,married,not_student,F,over_five_years_ago,not_reported,English,0,0,0,0,0,1,0,0,22,0.250230

## Calculate the average weekly hours worked among men and women.

In [202]:
person.groupby('sex').weekly_hours_worked.mean()

sex
F    21.725039
M    28.669930
Name: weekly_hours_worked, dtype: float64

### On average men worked 28.67 hours

### On average women worked 21.73 hours

## List the three households (i.e. household_ids) with the highest per person incomes.

In [203]:
household.head()

   household_id      variable    value
0             5     hh_income  90334.0
1             5       hh_size      2.0
2             5  num_children      0.0
3             9     hh_income  66216.0
4             9       hh_size      2.0

In [204]:
household = household.pivot(index='variable', columns='household_id', values='value')


household

household_id,5,9,22,31,35,37,41,42,43,49,58,71,75,77,90,91,99,102,104,106,107,109,111,113,119,120,125,140,150,153,156,157,162,170,173,176,190,192,219,220,248,250,251,254,262,264,266,275,277,283,286,288,291,297,306,311,317,324,327,338,339,342,344,359,362,363,371,373,374,383,390,393,406,407,419,442,444,452,455,458,460,461,474,478,480,483,485,487,488,497,501,520,524,533,536,538,545,551,558,559,561,570,576,581,585,593,595,611,614,617,638,643,659,665,670,672,677,690,703,708,720,724,725,730,735,740,743,746,748,758,761,765,773,783,787,793,794,795,802,804,813,817,826,829,841,851,852,861,864,869,872,874,879,881,884,885,889,893,898,899,903,908,910,911,913,917,934,937,939,940,941,946,955,963,967,980,981,1011,1018,1035,1036,1037,1038,1048,1054,1055,1061,1075,1076,1081,1084,1095,1113,1120,1132,1135,1137,1144,1147,1149,1157,1159,1165,1168,1182,1191,1196,1197,1202,1207,1221,1223,1233,1247,1252,1253,1259,1262,1273,1274,1275,1280,1283,1290,1291,1293,1299,1304,1305,1308,1310,1320,1332,1335,1340,1346,1347,1351,1352,1356,1358,1360,1365,1366,1371,1375,1388,1389,1391,1399,...,54012,54016,54019,54020,54022,54025,54028,54031,54039,54041,54050,54051,54052,54055,54056,54063,54073,54079,54082,54083,54090,54094,54095,54098,54104,54105,54111,54121,54130,54149,54151,54159,54161,54164,54176,54179,54182,54185,54192,54194,54195,54209,54213,54215,54219,54225,54228,54231,54234,54236,54242,54248,54250,54254,54256,54257,54272,54279,54281,54285,54297,54300,54314,54323,54327,54332,54334,54337,54339,54342,54344,54346,54348,54355,54362,54366,54378,54379,54388,54418,54421,54423,54430,54432,54435,54437,54438,54442,54443,54447,54453,54461,54462,54469,54482,54483,54486,54493,54504,54508,54518,54519,54523,54525,54526,54528,54529,54530,54532,54543,54545,54547,54553,54554,54557,54561,54564,54568,54569,54574,54577,54581,54583,54588,54593,54602,54606,54607,54608,54610,54613,54614,54615,54618,54619,54624,54632,54633,54645,54647,54649,54652,54653,54654,54656,54678,54685,54686,54688,54689,54696,54704,54706,54710,54712,54713,54717,54718,54723,54731,54732,54741,54747,54754,54756,54758,54763,54764,54774,54777,54781,54801,54820,54827,54829,54831,54835,54838,54840,54844,54850,54852,54853,54855,54857,54866,54878,54879,54880,54887,54890,54894,54902,54903,54913,54921,54927,54930,54931,54932,54935,54938,54939,54940,54943,54948,54951,54952,54956,54960,54969,54970,54983,54984,54989,54991,54993,54997,54998,55001,55012,55023,55031,55041,55048,55049,55052,55068,55070,55071,55074,55081,55084,55085,55087,55088,55090,55102,55103,55104,55106,55109,55122,55127,55135,55138,55139,55140,55141,55148
variable,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
hh_income,90334.0,66216.0,84614.0,60285.0,29392.0,1278.0,491.0,106647.0,150194.0,173771.0,120254.0,122347.0,10274.0,70389.0,49216.0,132685.0,161639.0,19061.0,142616.0,75158.0,1560.0,134511.0,67827.0,66342.0,72173.0,83317.0,75351.0,44184.0,67615.0,97061.0,57617.0,35779.0,70177.0,18342.0,103977.0,157351.0,58781.0,134080.0,124600.0,49337.0,68802.0,110421.0,25036.0,116436.0,45183.0,22735.0,42125.0,567480.0,115975.0,47642.0,128177.0,125476.0,10282.0,6189.0,199971.0,400342.0,24844.0,53284.0,23110.0,111614.0,30368.0,12529.0,26193.0,50632.0,230.0,25019.0,54831.0,60503.0,86826.0,126539.0,95406.0,15740.0,21573.0,79458.0,3516.0,50599.0,1454.0,20266.0,13488.0,102909.0,157.0,30203.0,4305.0,60210.0,76943.0,245473.0,51716.0,297354.0,250266.0,100185.0,16172.0,506.0,43516.0,142680.0,114607.0,50520.0,109907.0,50099.0,55711.0,24126.0,165223.0,60977.0,121892.0,4580.0,22746.0,66674.0,25405.0,129714.0,156201.0,63.0,13529.0,18282.0,120360.0,51214.0,8975.0,73379.0,39334.0,124633.0,63370.0,101722.0,35198.0,75335.0,131491.0,43421.0,56229.0,53248.0,82718.0,18420.0,102127.0,39078.0,105244.0,97429.0,2751.0,8857.0,71068.0,610482.0,44332.0,245421.0,24443.0,42191.0,34241.0,114.0,47111.0,240297.0,31304.0,17676.0,69959.0,76701.0,22955.0,88280.0,36593.0,110509.0,55475.0,21723.0,57435.0,12609.0,68160.0,100827.0,214.0,54397.0,81508.0,80366.0,91382.0,50001.0,103541.0,16489.0,94385.0,177634.0,47446.0,84582.0,128401.0,230.0,63877.0,75679.0,530340.0,299.0,47553.0,63378.0,70847.0,15210.0,62110.0,61289.0,190691.0,92886.0,39017.0,65706.0,60625.0,14390.0,131689.0,100474.0,92340.0,7200.0,171472.0,220526.0,45876.0,37572.0,164050.0,114712.0,20428.0,33823.0,85431.0,60741.0,13942.0,201.0,271.0,84951.0,24225.0,156423.0,31421.0,30287.0,38140.0,150480.0,62017.0,2306.0,79603.0,129413.0,171443.0,72788.0,1791.0,17806.0,15173.0,122906.0,35359.0,47734.0,52166.0,30445.0,53522.0,56201.0,18506.0,49235.0,253450.0,18439.0,192656.0,11515.0,48524.0,158539.0,31495.0,144141.0,108002.0,12507.0,55545.0,42194.0,94370.0,98478.0,7970.0,102174.0,62467.0,140801.0,92436.0,8631.0,...,12133.0,18485.0,49021.0,83520.0,13177.0,15319.0,93638.0,17273.0,27813.0,144022.0,78859.0,107403.0,27040.0,356.0,110711.0,289.0,161329.0,138174.0,12245.0,81036.0,105264.0,80687.0,45717.0,41641.0,60591.0,48296.0,6595.0,162400.0,83597.0,17984.0,32664.0,309.0,126269.0,145394.0,40211.0,105275.0,16896.0,32160.0,246419.0,100214.0,14268.0,66247.0,67028.0,34260.0,30452.0,60322.0,410313.0,22239.0,146412.0,11991.0,102014.0,10419.0,39221.0,29269.0,20640.0,27456.0,90464.0,97308.0,155690.0,101662.0,64215.0,42936.0,273213.0,115422.0,61362.0,27568.0,60157.0,100464.0,43228.0,70739.0,26846.0,131949.0,83002.0,87880.0,44829.0,42874.0,68154.0,207558.0,34150.0,58226.0,22304.0,120313.0,32125.0,93264.0,71732.0,124162.0,95231.0,83250.0,89190.0,13026.0,13239.0,64250.0,82433.0,122381.0,28422.0,255.0,100259.0,95200.0,71137.0,75285.0,321365.0,39311.0,310219.0,87161.0,141374.0,46693.0,65277.0,12166.0,63369.0,32542.0,9261.0,166400.0,137423.0,175344.0,20465.0,12865.0,30527.0,60465.0,21637.0,83219.0,5204.0,90576.0,212047.0,53501.0,27216.0,13723.0,33886.0,130162.0,22007.0,83437.0,270455.0,75992.0,68335.0,40044.0,284.0,12210.0,53615.0,62117.0,145.0,21404.0,14790.0,104733.0,166.0,17128.0,24691.0,34646.0,1.0,22106.0,37704.0,107123.0,66720.0,71043.0,3181.0,187.0,887.0,71961.0,37003.0,72728.0,110338.0,100521.0,2773.0,89616.0,365505.0,77608.0,40332.0,1120.0,50144.0,291660.0,256130.0,140360.0,43458.0,31108.0,39483.0,19064.0,12495.0,105162.0,17884.0,78293.0,36174.0,43794.0,48819.0,151496.0,6383.0,53457.0,66652.0,41783.0,16238.0,78961.0,67313.0,20995.0,14572.0,49023.0,30502.0,91569.0,2189.0,15246.0,150567.0,41312.0,18693.0,45359.0,50349.0,143827.0,177879.0,53482.0,66126.0,32525.0,217.0,6731.0,100690.0,73847.0,24238.0,40395.0,165366.0,4402.0,18188.0,142378.0,7027.0,122416.0,50144.0,27863.0,343719.0,16485.0,84957.0,74796.0,313.0,79692.0,39240.0,23047.0,514695.0,9017.0,125626.0,74246.0,22330.0,27984.0,2203.0,40082.0,478437.0,156739.0,103510.0,3741.0,119174.0,88326.0,13153.0,27324.0,50249.0,35735.0,89835.0,51551.0,84673.0,41676.0
hh_size,2.0,2.0,3.0,2.0,1.0,1.0,2.0,1.0,2.0,4.0,2.0,4.0,1.0,3.0,1.0,5.0,3.0,3.0,4.0,1.0,1.0,2.0,4.0,5.0,4.0,2.0,2.0,1.0,2.0,3.0,2.0,2.0,2.0,1.0,2.0,2.0,2.0,3.0,4.0,3.0,3.0,2.0,2.0,2.0,1.0,2.0,1.0,3.0,2.0,2.0,1.0,4.0,4.0,1.0,4.0,4.0,2.0,2.0,3.0,3.0,2.0,3.0,1.0,2.0,1.0,1.0,2.0,2.0,2.0,4.0,2.0,1.0,2.0,2.0,5.0,5.0,1.0,5.0,1.0,2.0,1.0,1.0,1.0,1.0,1.0,3.0,2.0,3.0,3.0,1.0,1.0,4.0,3.0,2.0,3.0,2.0,9.0,1.0,9.0,1.0,2.0,1.0,4.0,1.0,1.0,2.0,1.0,2.0,7.0,1.0,1.0,1.0,2.0,2.0,3.0,5.0,2.0,3.0,2.0,5.0,1.0,2.0,2.0,3.0,1.0,2.0,2.0,2.0,1.0,4.0,1.0,2.0,6.0,1.0,2.0,2.0,4.0,5.0,2.0,1.0,3.0,1.0,5.0,4.0,2.0,1.0,4.0,7.0,1.0,3.0,2.0,2.0,2.0,1.0,4.0,1.0,1.0,2.0,1.0,2.0,6.0,3.0,2.0,2.0,7.0,2.0,2.0,4.0,2.0,3.0,3.0,1.0,5.0,2.0,2.0,1.0,1.0,2.0,2.0,1.0,2.0,2.0,4.0,4.0,1.0,2.0,2.0,1.0,5.0,2.0,2.0,1.0,4.0,2.0,2.0,2.0,4.0,3.0,4.0,2.0,2.0,2.0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,3.0,1.0,1.0,3.0,5.0,2.0,5.0,1.0,1.0,1.0,4.0,4.0,3.0,2.0,2.0,4.0,4.0,1.0,1.0,4.0,1.0,5.0,1.0,1.0,2.0,2.0,1.0,2.0,1.0,2.0,3.0,1.0,2.0,3.0,4.0,3.0,3.0,2.0,1.0,...,1.0,1.0,2.0,2.0,1.0,3.0,5.0,1.0,2.0,4.0,3.0,2.0,1.0,2.0,3.0,1.0,2.0,3.0,1.0,3.0,4.0,1.0,4.0,2.0,4.0,2.0,2.0,2.0,2.0,1.0,2.0,1.0,4.0,2.0,2.0,3.0,1.0,1.0,4.0,1.0,1.0,3.0,2.0,3.0,1.0,2.0,3.0,1.0,2.0,1.0,4.0,2.0,1.0,3.0,1.0,2.0,2.0,2.0,3.0,2.0,1.0,2.0,1.0,3.0,3.0,1.0,1.0,2.0,3.0,3.0,3.0,3.0,2.0,4.0,2.0,8.0,1.0,3.0,1.0,1.0,4.0,1.0,2.0,3.0,2.0,2.0,1.0,3.0,4.0,2.0,1.0,3.0,2.0,2.0,3.0,1.0,4.0,2.0,1.0,2.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,1.0,4.0,2.0,1.0,3.0,2.0,2.0,2.0,3.0,3.0,2.0,1.0,5.0,1.0,2.0,3.0,2.0,1.0,2.0,5.0,3.0,2.0,2.0,4.0,2.0,3.0,2.0,1.0,1.0,2.0,4.0,1.0,3.0,1.0,2.0,1.0,1.0,1.0,2.0,1.0,1.0,1.0,4.0,4.0,2.0,1.0,1.0,1.0,2.0,2.0,2.0,4.0,4.0,1.0,3.0,4.0,1.0,1.0,1.0,1.0,2.0,1.0,5.0,3.0,2.0,4.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,1.0,2.0,1.0,2.0,4.0,3.0,4.0,4.0,2.0,2.0,1.0,3.0,5.0,3.0,1.0,3.0,2.0,2.0,1.0,3.0,2.0,2.0,2.0,5.0,1.0,6.0,1.0,1.0,1.0,3.0,1.0,2.0,2.0,1.0,1.0,3.0,1.0,3.0,2.0,2.0,1.0,1.0,2.0,1.0,1.0,2.0,1.0,2.0,2.0,2.0,5.0,1.0,2.0,2.0,1.0,1.0,3.0,2.0,2.0,1.0,4.0,4.0,1.0,1.0,1.0,3.0,3.0,2.0,2.0,1.0
num_children,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,1.0,0.0,3.0,2.0,1.0,1.0,0.0,0.0,0.0,0.0,3.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,2.0,3.0,0.0,2.0,2.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,4.0,0.0,0.0,0.0,2.0,3.0,0.0,0.0,1.0,0.0,3.0,2.0,0.0,0.0,1.0,4.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,1.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,2.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,2.0,0.0,0.0,0.0,3.0,2.0,0.0,0.0,2.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,2.0,1.0,0.0,2.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,2.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,3.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [205]:
household = household.T

household.columns

Index(['hh_income', 'hh_size', 'num_children'], dtype='object', name='variable')

In [206]:
household ['per_person'] = household.hh_income/household.hh_size

household.sort_values(by='per_person', ascending=False)

variable      hh_income  hh_size  num_children  per_person
household_id
38870          840245.0      1.0           0.0    840245.0
24934         1115407.0      2.0           0.0    557703.5
10110         1109371.0      2.0           0.0    554685.5
40137         1040447.0      2.0           0.0    520223.5
53260          518385.0      1.0           0.0    518385.0
...                 ...      ...           ...         ...
49062               1.0      1.0           1.0         1.0
35019               1.0      1.0           1.0         1.0
34684               1.0      1.0           1.0         1.0
34242               1.0      1.0           1.0         1.0
36540               1.0      1.0           1.0         1.0

[10986 rows x 4 columns]

###  The three households with the highest per person incomes found by dividing the total income by family size are,

### household id, 38870
### household id, 24934
### household id, 10110

## List the three individuals (i.e. person_ids) with the highest personal income, and the dollar amounts of their personal incomes.

Personal id = 23355, Income = $1060273


Personal id = 89429, Income = $840245


Personal id = 82159, Income = $815297

In [207]:
pd.set_option('display.max_columns', 500)
person.head()

,person_id,age,citizen_status,nativity_status,weekly_hours_worked,marital_status,school_status,sex,when_last_worked,worked_last_week,language,race_native_american,race_asian,race_black,race_native_hawaiian,race_pacific_islander,race_white,race_other,uninsured,household_id,hh_income_pct
0,10,62,citizen_birth,native_born,55,married,not_student,F,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.389078
1,11,65,citizen_birth,native_born,40,married,not_student,M,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.610922
2,15,70,citizen_birth,native_born,0,married,not_student,M,over_five_years_ago,did_not_work,English,0,0,0,0,0,1,0,0,9,0.735381
3,16,70,citizen_birth,native_born,20,married,not_student,F,in_last_year,did_not_work,English,0,0,0,0,0,1,0,0,9,0.264619
4,43,75,citizen_birth,native_born,0,married,not_student,F,over_five_years_ago,not_reported,English,0,0,0,0,0,1,0,0,22,0.250230

hh_income_pct:
  description:
    - Percentage of the household's total income that comes from that person; 
      calculated as (person's total income) / (household income).

the total income earned per person; this can
be calculated, however, by multiplying the person’s percent of household
income (hh_income_pct) with the household income (hh_income) found in the
household-level data set.

In [208]:
new = pd.merge(person, household, how='inner', on='household_id')

new.head()

,person_id,age,citizen_status,nativity_status,weekly_hours_worked,marital_status,school_status,sex,when_last_worked,worked_last_week,language,race_native_american,race_asian,race_black,race_native_hawaiian,race_pacific_islander,race_white,race_other,uninsured,household_id,hh_income_pct,hh_income,hh_size,num_children,per_person
0,10,62,citizen_birth,native_born,55,married,not_student,F,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.389078,90334.0,2.0,0.0,45167.000000
1,11,65,citizen_birth,native_born,40,married,not_student,M,in_last_year,worked,English,0,0,0,0,0,1,0,0,5,0.610922,90334.0,2.0,0.0,45167.000000
2,15,70,citizen_birth,native_born,0,married,not_student,M,over_five_years_ago,did_not_work,English,0,0,0,0,0,1,0,0,9,0.735381,66216.0,2.0,0.0,33108.000000
3,16,70,citizen_birth,native_born,20,married,not_student,F,in_last_year,did_not_work,English,0,0,0,0,0,1,0,0,9,0.264619,66216.0,2.0,0.0,33108.000000
4,43,75,citizen_birth,native_born,0,married,not_student,F,over_five_years_ago,not_reported,English,0,0,0,0,0,1,0,0,22,0.250230,84614.0,3.0,0.0,28204.666667

In [209]:
new['personal_income'] = new.hh_income_pct*new.hh_income

new = new.sort_values(by='personal_income', ascending=False)
new.head(3)

,person_id,age,citizen_status,nativity_status,weekly_hours_worked,marital_status,school_status,sex,when_last_worked,worked_last_week,language,race_native_american,race_asian,race_black,race_native_hawaiian,race_pacific_islander,race_white,race_other,uninsured,household_id,hh_income_pct,hh_income,hh_size,num_children,per_person,personal_income
3563,23355,65,citizen_birth,native_born,5,married,not_student,M,in_last_year,worked,English,0,0,0,0,0,1,0,0,10110,0.955742,1109371.0,2.0,0.0,554685.5,1060273.0
14109,89429,41,citizen_birth,native_born,50,never_married,not_student,F,in_last_year,worked,Spanish,0,0,0,0,0,1,0,0,38870,1.000000,840245.0,1.0,0.0,840245.0,840245.0
12874,82159,37,citizen_birth,native_born,50,married,not_student,M,in_last_year,worked,English,0,0,0,0,0,1,0,0,35657,0.999787,815471.0,5.0,3.0,163094.2,815297.0

Personal id = 23355, Income = $1060273


Personal id = 89429, Income = $840245


Personal id = 82159, Income = $815297

## Calculate the 80th percentile of age among people in each of the five marital categories.


divorced         67.0


married          67.0


never_married    45.0


separated        61.0


widowed          86.0

In [210]:
new.marital_status.value_counts()

married          10910
never_married     5335
divorced          1980
widowed           1376
separated          296
Name: marital_status, dtype: int64

In [211]:
new.groupby('marital_status').age.quantile(0.8)

marital_status
divorced         67.0
married          67.0
never_married    45.0
separated        61.0
widowed          86.0
Name: age, dtype: float64